body {
  color: #155263;
  background-color: #ffebbb;
  margin: 0;
  padding: 0;
}
header {
  background-color: #ff9a3c;
  margin: 0;
  padding: 30px;
}
nav li {
  font-weight: 800;
  font-size: 15pt;
  list-style: none;
  display: inline;
  padding-left: 20px;
  float: right;
}
a {
  color: #155263;
  text-decoration: none;
}
a:hover {
  color: white;
}
a.active {
  color: white;
}
footer {
  background-color: #ff9a3c;

  position: fixed;
  bottom: 0px;
  width: 100%;
}
footer li {
  font-weight: 800;
  list-style: none;
  display: inline;
  padding-inline-start: 350px;
}

.nameIsland {
  float: left;
  padding: 0px;
}
