body {
  font-size: 13pt;
  color: #155263;
  background-color: #ffebbb;
  margin: 0;
  padding: 0;
}
header {
  background-color: #ff9a3c;
  margin: 0;
  padding: 30px;
  width: auto;
}
nav li {
  font-weight: 800;
  font-size: 15pt;
  list-style: none;
  display: inline;
  padding-left: 20px;
  float: right;
}
a {
  color: #155263;
  text-decoration: none;
}
a:hover {
  color: white;
}
a.active {
  color: white;
}
h1 {
  text-align: center;
  margin: 30px;
}
table {
  padding: 30px;
}
td {
  padding: 20px;
}
img {
  width: 500px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #ff9a3c;
}
p {
  text-align: justify;
  line-height: 2;
}
.sightseeing {
  width: 300px;
  text-align: center;
  font-weight: 800;
  font-size: 16pt;
  padding: 0px;
  margin: 0px 25px;
}
.sightDescription {
  margin: 0px 10px;
  padding: 0px;
}
.topSign {
  text-align: right;
  margin-right: 150px;
  font-weight: 800;
  font-size: 16pt;
}
footer {
  background-color: #ff9a3c;
  padding: 5px;
  position: static;
  bottom: 0px;
}
footer li {
  font-size: 13pt;
  font-weight: 800;
  list-style: none;
  display: inline;
  padding-inline-start: 350px;
}

.nameIsland {
  float: left;
  padding: 0px;
}
